
header{
  margin: 0px;
}

/* .header-div{
  margin-right: 11.667px;
  margin-left: 11.667px;
} */

/* .logo-div{
  padding-left: 20px;
  padding-right: 20px;
  height: 83px;
} */

.logo-header-img{
    filter: brightness(0);
    /* width: 1200px;
    height: 83px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 11.667px;
    margin-right: 11.667px; */
    /* width: 197px;
    height: 41px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 18px;
    margin-bottom: 10px; */
    margin-bottom: 5px;
    /* margin-left: 18px; */
    margin-right: 0px;
    padding: 16px 0px 16px;
    width: 181px;
    height: 41px;
}

body{
    margin: 0;
    font-family: "Sora", Sans-serif;
}

.steps-page-div{
    position: relative;
    width: 100%; 
}

.steps-img{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.text-over-steps_outer{
  position: relative;
}

.text-over-steps {
    position:absolute;
    left: 0%;
    width: 60%; /* Adjust width as needed */
    color: white; /* White text for visibility */ 
    border-radius: 10px;
    bottom: 0px;
    padding-bottom: 50px;
}

.text-over-steps h4, .text-over-steps h3{ 
    font-style: normal;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 0px;
    padding-bottom: 15px;

}

.fw-400{
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: #ffffff;
    line-height: 28.8px;
    letter-spacing: 1px;
}
.fw-800{
    font-weight: 800;
    font-size: 38px;
    color: #ffffff;
    font-style: normal;
    line-height: 53.2px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.fw-500{
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  font-style: normal;
  line-height: 31.2px;
  letter-spacing: 1px;
}

.text-over-steps h1{
    font-family: "Sora", Sans-serif;
    margin:0px;
    padding-bottom: 15px;
}



#form1{
    position: relative;
    margin-top: 0px;
    padding: 80px 0;
    background: linear-gradient(to right, #0000A3, #6A008A);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input fields styling */
input[type="text"], input[type="tel"], input[type="email"]{
    width: 30%;
    height: 50%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: block;
}

/* CSS */
#sbt-button {
  align-items: center;
  background: #046bd2;
  border: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #ffffff;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 0px;
  letter-spacing: normal;
  text-align: start;
  margin: 0px;
  width: 160px;
  height: 54px;
}

#sbt-button:focus {
  color: #ffffff;
}

#sbt-button:hover {
  background-color: #045cb4;
  fill: #06f;
}

#sbt-button:active {
  background-color: #045cb4;
  border-color: #045cb4;
  fill: #06f;
}

@media (min-width: 768px) {
  #sbt-button {
    min-width: 160px;
  }
}

  #sbt-button {
    outline: 0;
  }
  
  #sbt-button {
    outline: 0;
  }

  
  #sbt-button {
    transition: all 200ms;
  }
  
  #sbt-button:hover span {
    transform: scale(.9);
    opacity: .75;
  }
  
  /* @media screen and (max-width: 991px) {
    #sbt-button {
      font-size: 15px;
      height: 50px;
    }
  
    #sbt-button span {
      line-height: 50px;
    }
  } */

  .who{
    /* width: 1167.530px;
    height:599.375px; */
    padding-top: 110px;
    padding-bottom: 49px;
    /* padding-left: 58px;
    padding-right: 59px; */
    background: #ffffff;
    font-family: Roboto, sans-serif;
    color:#1900b9;
  }

  .who h2{
    font-size: 30px;
    text-align: start;
    letter-spacing: normal;
    margin: 0px;
  }

  .who p{
    font-size: 18px;
    line-height: 25px;
    text-align: start;
    letter-spacing: normal;
    margin: 0px;
  }

  #line-one{
    padding-bottom: 20px;
  }

  #line-two{
    padding-bottom: 69px;
  }

  #line-three{
    padding-bottom: 49px;
  }

  #line-four{
    padding-bottom: 20px;
  }

  .container{
    width: 1140px;
    margin: auto;
  }

  .criteria-page-div{
    background-image: linear-gradient(90deg, #08048D 0%, #7E0F85 100%);
    color: #ffffff;
    padding-bottom: 45px;
  }
  .criteria-div{
    display: flex;  /* Puts all .criteria-box divs in a row */
    justify-content: space-between; /* Distributes them evenly */
    gap: 20px; /* Adds space between boxes */
  }

.criteria-title{
    text-align: center;
    font-size: 30px;
    font-weight:600;
    padding-top: 70px;
    padding-bottom: 90px;
    margin: 0PX;
}

.criteria-box{
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content inside each div */
  text-align: center; /* Centers text */
  width: 30%; /* Ensures three boxes fit in a row */
  text-align: left;
  padding-bottom: 70px;
}

.criteria-box h3{
  font-size: 30px;
  color: #f0b821;
}

.criteria-box p{
  padding-top: 35px;
  margin: 0px;
}

.criteria-para-div{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.note{
  margin: 0px;
}

.disclaimer{
  margin: 0px;
}

.certificate-one-div{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.certificate-one-div h2{
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  letter-spacing: normal;
  color:#1a02ba;
  font-weight: 800;;
  text-transform: uppercase;
}

.certificate-one-div p{
  padding: 10px;
  font-size: 20px;
  text-align: start;
  letter-spacing: normal;
  color:#808080;
  font-weight: 600;
  margin: 0px;
  width: 500px;
}

.certificate-two-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  color: #7A7A7A
}

.agencies-div{
  padding: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

#img1{
  margin-top: 50px;
}

#para-1{
  margin-bottom: 25.600px;
  padding-top: 25px;
  margin-top: 15px;
}

#img2{
  padding-top: 20px;
}

#para-2{
  margin-bottom: 25.600px;
}

#img3{
  margin-top: 50px;
  margin-bottom: 15px;
  padding-bottom: 40px;
}

#para-3{
  margin-bottom: 25.600px;
}

.background-div{
  position: relative;
  display: inline-block;
}

.certificate-three-div{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}

.certificate-img-div {
  position: relative;
  display: inline-block; /* Ensures content stays within this div */
  width: 80%;
}

.certificate-three-div .certificate-img-div:nth-child(1) img{
  width: 100%;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: block;
}

.certificate-three-div .certificate-img-div:nth-child(2) img {
  width: 100%;
  background-position: 50%;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05); /* X-offset, Y-offset, blur-radius, color */
  background-size: cover;
}

.list-div {
  background-image: url(https://accreditedinvestors.vivritiamc.com/wp-content/uploads/2024/03/GroupCertificate1-1.png);
  width: 80%;
  box-shadow: 14px 12px 10px 0px rgba(0, 0, 0, 0.5);
  padding-top: 40px;
  padding-bottom:50px;
  margin: 20px;
}

.list-div ul {
  list-style-type: disc;
}

.list-div li {
  font-size: 22px; /* Adjust as needed */
  line-height: 31px;
  font-weight: 800px;
  text-align: left;
  letter-spacing: 0.1px;
  font-weight: bolder;
  font-style: normal;
  color: #08048d; /* Dark blue text */
  text-transform: uppercase;
}

.title-certificate h2{
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: auto;
  color: #08048D;
  font-family: "Sora", Sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px 61.6667px;
  padding: 60px 0px 50px;
  text-align: center;
}

.form2-page-div{
  background-image: linear-gradient(90deg, #08048D 0%, #7E0F85 100%);
}

.paragrah-div  p{
  text-align: left;
  color: #FFFFFF;
  font-family: "Sora", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.paragrah-div p:nth-child(1){
  padding-top: 134px;
  margin-bottom: 70px;
}

.paragrah-div p:nth-child(2){
  margin-bottom: 25.6px;
}

.paragrah-div p:nth-child(3){
  margin-bottom: 25.6px;
}

.paragrah-div p:nth-child(4){
  padding-bottom: 156px;
}

.form2-div h2{
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 52px;
}

#form2{
  padding-bottom: 126px;
}

@media (max-width: 480px){
  
  .container{
    width: calc(100% - 60px);
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .text-over-steps_outer{
    position: relative;
  }
  
  .text-over-steps {
    position:absolute;
      left: 0%;
      width: 60%; /* Adjust width as needed */
      color: white; /* White text for visibility */ 
      border-radius: 0px;
      bottom: 0px;
      padding-bottom: 0px;
      display: inline;
  }

  .text-over-steps h4, .text-over-steps h3{
    color: #FFFFFF;  
    margin: 0px;
  }

  .text-over-steps h1{
    font-family: "Sora", Sans-serif;
    margin: 0px;
    padding-bottom: 5px;
  }

  .fw-400{
    font-weight: 300;
    font-size: 12px;
    font-style: normal;
    color: #ffffff;
    line-height: 17.2px;
    letter-spacing: 0px;
    word-spacing: 1px;
    padding-bottom: 5px !important;
  }

  .fw-800{
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 17.2px;
    letter-spacing: 0px;
    word-spacing: 1px;
    text-transform: uppercase;
  }

  .fw-500{
    font-weight: 300;
    font-size: 12px;
    font-style: normal;
    line-height: 17.2px;
    letter-spacing: 0px;
    word-spacing: 1px;
    padding-bottom: 15px;
  }
 
  #form1 {
    width: 100%;
  }

  input[type="text"], 
  input[type="tel"], 
  input[type="email"] {
      width: 75%;
  }

  #sbt-button {
      width: 50%;
  }

  .criteria-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .criteria-para-div {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .criteria-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }

  .certificate-one-div p {
    width: 350px;
    text-align: center;
  }

  .title-certificate h2 {
    margin: 0px;
  }

  .certificate-three-div {
   display: flex;
   flex-direction: column;
   gap:1px;
  }

  .certificate-three-div .certificate-img-div:nth-child(1) img {
    padding-left: 10px;
  }

  .certificate-img-div {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .list-div {
    padding-top: 15px;
    margin: 10px;
    width: 90%;
    padding-bottom: 20px;
  }

  .certificate-two-div {
    display: flex;
    flex-direction: column;
  }

  .paragrah-div p:nth-child(4) {
    padding-bottom: 60px;
  }

  .who {
    padding-top: 50px;
  }

  #line-two {
    padding-bottom: 45px;
  }

  .criteria-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .g-recaptcha{
    transform: scale(0.8);
    transform-origin: center;
  }

  .certificate-img-div {
    padding-left: 0px;
  }
}


@media (min-width: 481px) and (max-width:1024px){

  .container{
    width: calc(100% - 50px);
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
  }

  .text-over-steps {
    position:absolute;
      left: 0%;
      width: 80%; /* Adjust width as needed */
      color: white; /* White text for visibility */ 
      border-radius: 0px;
      bottom: 0px;
      padding-bottom: 0px;
      display: inline;
  }

  .fw-400{
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    line-height: 27.2px;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-bottom: 10px !important;
  }

  .fw-800{
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 27.2px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px !important;
  }

  .fw-500{
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    line-height: 27.2px;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-bottom: 25px !important
  }

  #form1 {
    width: 100%;
  }

  input[type="text"], 
  input[type="tel"], 
  input[type="email"] {
      width: 35%;
  }

  .g-recaptcha{
    transform: scale(0.85);
    transform-origin: center;
  }

  .certificate-two-div{
    margin-left: 20px;
    margin-right: 20px;
    display: block;
  }

  .certificate-two-div p{
    font-size: 15px;
  }

  .certificate-three-div {
    gap: 30px;
}

.list-div {
    width: 90%;
        padding-top: 20px;
    padding-bottom: 30px;
    margin: 5px;
}

.list-div li {
    font-size: 18px;
    line-height: 22px;
}

.certificate-one-div p {
  padding: 0px;
  width: 300px;
  }

}

@media (min-width:1025px){

  .container{
    width: calc(100% - 40px);
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
  }
  
}



